<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sky.mapper.EmployeeMapper">
    <update id="update" parameterType="Employee">
<!--    配置文件里有配置包名,type-aliases-package: com.sky.entity，parameterType可以直接写类名不用写全名    -->
        update employee
        <set>
            <if test="name != null and name != '' ">name = #{name},</if>
            <if test="username != null and username != '' ">username = #{username},</if>
            <if test="password != null and password != '' ">password = #{password},</if>
            <if test="phone != null and phone != '' ">phone = #{phone},</if>
            <if test="sex != null and sex != '' ">sex = #{sex},</if>
            <if test="idNumber != null and idNumber != '' ">id_number = #{idNumber},</if>
            <if test="updateTime != null ">update_time = #{updateTime},</if>
            <if test="updateUser != null ">update_user = #{updateUser},</if>
            <if test="status != null ">status = #{status},</if>
        </set>
        where id=#{id}
    </update>
    <select id="pageQuery" resultType="com.sky.entity.Employee">
<!--        注意，虽然返回值是Page<Employee>， 但Page本身是个ArrayList，所以没什么问题-->
        select * from employee
        <where>
            <if test="name != '' and name != null">
                and name like concat('%',#{name},'%')
            </if>
        </where>
        order by update_time desc
    </select>
</mapper>
